.product-locations {
    ul {
        padding: 0;
        li {
            list-style: none;
            margin: 0 0 15px 0;
            &:nth-child(odd) {
                background: rgba(245, 223, 190, 0.3);
                padding: 5px;
            }
        }
    }
}